[submodule "frontend"]
	path = services/frontend-image/src
	url = git@github.com:hpi-epic/mpci-frontend.git
	branch = master
  update = rebase
[submodule "pcalg"]
	path = services/executionenvironments/r/executor/pcalg
	url = git@github.com:ChristopherSchmidt89/pcalg.git
	branch = master
[submodule "cupc"]
	path = services/executionenvironments/cuda/cupc
	url = git@github.com:LIS-Laboratory/cupc.git
	branch = master
