[submodule "frontend"]
	path = services/frontend-image/src
	url = git@github.com:hpi-epic/mpci-frontend.git
	branch = master
  update = rebase
[submodule "pcalg"]
	path = services/executionenvironments/r/executor/pcalg
	url = https://github.com/ChristopherSchmidt89/pcalg.git
	branch = master
[submodule "cupc"]
	path = services/executionenvironments/cuda/cupc
	url = https://github.com/LIS-Laboratory/cupc.git
	branch = master
[submodule "services/executionenvironments/python-generators/mpci-dag"]
	path = services/executionenvironments/python-generators/mpci-dag
	url = git@github.com:hpi-epic/mpci-dag.git
