[submodule "src"]
	path = services/frontend-image/src
	url = git@github.com:hpi-epic/mpci-frontend.git
	branch = master
  update = rebase
[submodule "pcalg"]
	path = executionenvironments/r/pcalg
	url = git@github.com:ChristopherSchmidt89/pcalg.git
	branch = master
